.container {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  align-items: baseline;
  margin: 100px auto;
}

.calculator {
  width: 30vw;
}

.result-container {
  height: 40px;
  background-color: grey;
  padding: 6px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: repeat(5, 50px);
}

button {
  cursor: pointer;
  border: 1px solid rgb(199, 199, 199);
  background-color: rgb(224, 224, 224);
}

button:hover {
  background-color: rgba(224, 224, 224, 0.726);
}

button:active {
  background-color: rgba(128, 128, 128, 0.534);
}

.zero {
  grid-column: 1/span 2;
}

.operator {
  background-color: rgb(245, 145, 62);
}

.operator:hover {
  background-color: rgba(245, 144, 62, 0.767);
}

.operator:active {
  background-color: rgba(63, 30, 2, 0.767);
}

@media screen and (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .calculator {
    width: 96vw;
  }
}
