* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App {
  width: 30vw;
}

.result-container {
  height: 40px;
  background-color: grey;
  padding: 6px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: repeat(5, 50px);
}

button {
  cursor: pointer;
  border: 1px solid rgb(199, 199, 199);
  background-color: rgb(224, 224, 224);
}

.zero {
  grid-column: 1/span 2;
}

.operator {
  background-color: rgb(245, 145, 62);
}
